a{
    color: #1abc9c;
    text-decoration: none;
    
}

a:hover {
    color: #f6a623;
    
}

.post, .about {
    
    max-width: 800px;
    margin: 0 auto;
    padding: 30px 0;
}

.post-author img, .about-author img {
    
    width: 50px;
    vertical-align: middle;
    border-radius: 20%;
    
}

.post-author span {
    
    margin-left: 16px;
}

.post-date {
    
    color: #1abc9c;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    
}

h1, h2, h3, h4 {
    
    color: #333;
    
}

p{
    
    line-height: 1.5;
}


.post-container:nth-child(even) {
    background-color: lightgray;
    
}













